@import '../../../assets/scss/base/mixins.scss';

.wrapperContainer {

	@include desktop() {
		margin-bottom: var(--wrapper-desktop);
	}

	@include tablet() {
		margin-bottom: var(--wrapper-tablet);
	}

	@include mobile() {
		margin-bottom: var(--wrapper-mobile);
	}
}