@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,400;8..144,500;8..144,600&family=Roboto:wght@100;400;500;700&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--family: 'Roboto', sans-serif;
	--fs-sm: 14px;
	--fs-md: 16px;
	--global-max-width: 1280px;
	--global-radius: 6px;
	--wrapper-mobile: 40px;
	--wrapper-tablet: 60px;
	--wrapper-desktop: 100px;
}

body[data-theme='dark'] {
	--colors-text: white;
	--colors-bg: black;
}

body[data-theme='light'] {
	--colors-text: black;
	--colors-bg: white;
}

body {
	font-family: var(--family);
	color: var(--colors-text);
	background-color: var(--colors-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 20px;
	color: var(--colors-text);
}

h2 {
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 18px;
	color: var(--colors-text);
}

h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 16px;
	color: var(--colors-text);
}

h4 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 14px;
	color: var(--colors-text);
}

h5 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 12px;
	color: var(--colors-text);
}

h6 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 12px;
	color: var(--colors-text);
}

p {
	color: var(--colors-text);
	font-size: 16px;
}

