@import './variables.scss';
// Mixins
// --------------------------------------------------

@mixin mobile {
    @media (max-width: #{$mobileWidth}px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tabletWidth}px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktopMinWidth}px) {
        @content;
    }
}